body{
    height: 100%;
    font-family: Helvetica;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #000;
}

a{
    color: #000;
}

.popup-window{
    position: fixed;
    background-color: rgba(0,0,0,0.25);
    inset: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.popup-window:target{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.popup-window > div{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2.2em;
    background-color: #fff;
    border-radius: 1rem;
}
.popup-window header{
    font-weight: bold;
}
.popup-window h1{
    font-size: 151%;
    margin: 0 0 15px;
}
.close-popup{
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.close-popup:hover{
    color:#000;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.popup-window > div{
    border-radius: 1rem;
}
.popup-window dvi:not(:last-of-type){
    margin-bottom: 10px;
}
.btn{
    background-color: #fff;
    padding: 1em;
    border-radius: 1.3rem;
    text-decoration: none;
    transition: all .3s;
    border: 3px solid transparent;
}
.btn:hover{
    background:#fcfc;
    border: 3px solid gray;
}